//Base Styles
.hero-section {
height: 100vh;
background-color: $color_blanco;
background-image: url("../img/post-image.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: 100%;
}

