//Font Family 
$playfair: 'Playfair Display', serif; 
$open-sans: 'Open Sans', sans-serif;

// Tipography 
// Font Weight 

$regular: 400; 
$semi-bold: 600; 
$bold: 700;

// Font Sizes 
$xxxx-large: 130px; 
$xxx-large: 100px; 
$xx-large: 30px; 
$x-large: 20px; 
$large: 18px; 
$medium: 16px; 
$small: 14px; 
$x-small: 12px;